*.DS_Store*
*.merlin*
*.bsb.lock*
bundledOutputs/
_esy/

lib/
node_modules/
/_esy
/_build
/_release
/genType.install
/yarn-error.log

# dist related stuff
dist/vendor-darwin/gentype.native
dist/vendor-win32/gentype.native.exe
dist/vendor-linux/gentype.native
dist/package.json
dist/gentype.exe
dist/package-lock.json
