*.DS_Store*
*.merlin*
*.bsb.lock*
bundledOutputs/
esy.lock
esy.lock.json
lib/
node_modules/
/_build
/genType.install
/yarn-error.log

# dist related stuff
dist/vendor-darwin/gentype.native
dist/vendor-win32/gentype.native.exe
dist/vendor-linux/gentype.native
dist/package.json
dist/gentype.exe
dist/package-json.lock
